extends layout 
block content 
<script src="check.js" type="text/javascript"></script>
    h3 Please login 
    form(method="POST") 
        | Name: 
        |
        input(name="userName")
        br
        |Password: 
        input(name="pass")
        br
        br
        input(type="submit" value="Login")
    br
    br 
    br