/*Taylor Maiorini*/
body {
	font-family: 'Open Sans Condensed', sans-serif;
}


//Taylor Maiorini
#quiz {
	margin-left: 10px;
	background: #d2def2;
	padding: 10px 20px 10px 20px;
	width: 400px;
	border-radius: 20px;
	float: left;

}

//Taylor Maiorini
input {
	margin-bottom: 20px;
	display: block;
}
//Taylor Maiorini
#textbox {
	height: 25px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	padding-left: 5px;
}

//Taylor Maiorini
#button {
	background: pink;
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: blueviolet;
	font-size: 16px;
	transition-duration: .5s;
	margin-top: 15px;
}


//Taylor Maiorini
#button:hover {
	background: white;
	border: 1px solid green;
	color: black;
	cursor: pointer;

}
//Fahima Kashem
#after_submit {
	visibility: hidden;
	background: #ff5459;
	padding: 10px 20px 10px 20px;
	width: 400px;
	border-radius: 20px;
	float: left;
	margin-left: 20px;
	font-size: 30px;


}
//Timothy Hood
#picture {
	width: 375px;
	height: 245px;
}


//Timothy Hood
#mc {
	display: inline;
} 
